.backToTop {
	position: fixed;
	right: 30px;
	bottom: 30px;
	visibility: hidden;
	opacity: 0;
	i {
		width: 50px;
		height: 50px;
		background: $gradient;
		border-radius: 8px;
		line-height: 50px;
		text-align: center;
		color: $c-secondary;
		transition: all 0.2s;
		box-shadow: -4px 4px 24px -10px $pink-color;
	}
}
.cd-top--is-visible {
	visibility: visible;
	opacity: 1;
}