/* Code responsive */
/* CSS cho màn hình bé hơn hoặc bằng 1199px */
@media screen and (max-width: $screen-lg-max) {
  .carousel {
    display: none;
  }
}
/* CSS cho màn hình bé hơn hoặc bằng 991px */
@media screen and (max-width: $screen-md-max) {
}
/* CSS cho màn hình bé hơn hoặc bằng 767px */
@media screen and (max-width: $screen-sm-max) {
  header {
    #userEmail {
      display: none !important;
    }
  }
  .featureItem {
    .card {
      height: 400px;
      img {
        max-width: 100%; /* Đặt kích thước tối đa là 100% của phần tử cha */
        height: auto; /* Tự động tính chiều cao dựa trên tỷ lệ khung hình ban đầu */
      }
    }
  }
  .footer__bottom {
    display: none;
  }
}
/* CSS cho màn hình bé hơn hoặc bằng 575px */
@media screen and (max-width: $screen-xs-max) {
  header {
    button {
      width: 100px;
      font-size: 13px !important;
      margin-right: 0;
      padding: 0;
    }
  }
  .formCheckBox {
    span {
      margin-bottom: 20px;
    }
  }
  .regForm {
    .formItemInner {
      #emailError,
      #passwordError {
        height: 60px;
      }
    }
  }
  .feature {
    h1 {
      font-size: $fs-5 !important;
    }
  }
  .carousel {
    display: none;
  }
  .featureItem {
    .card {
      height: 500px;
      img {
        max-width: 100%; /* Đặt kích thước tối đa là 100% của phần tử cha */
        height: auto; /* Tự động tính chiều cao dựa trên tỷ lệ khung hình ban đầu */
      }
    }
  }
}
