// responsive
$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

//color
$c-primary: #ffc014;
$c-secondary: #fff;
$dark-color: #0e1b1f;
$green-color: #1ED90E;
$pink-color: #f55f8d;
$black-color: #000;
$gray-color: #ccc;
$more-gray-color: #636363;
$blue-color: #007bff;
$light-blue-color: aqua;
$red-color: #5e0000;
$purple-color: #AE18E2;
$checkbox-uncheck-color: #D9D9D9;
$feature-color: #F8F8F8;
$short-des-color: #1f343b;
$size-color: #ccc;

/* Background Color */
$bg-primary: #131514ff;
$bg-primary-darken: #111111;
$bg-secondary: #202221;
$bg-secondary-light: #7e7e7e;
$bg-popup: rgba(32, 34, 33, 0.7);
$price-background: #DEDDDC;
$button-background: #f09819;
$gradient: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
$gradient-radial: linear-gradient(#dfb241, #175401);

//Font weight
$fw-light: 300;
$fw-normal: 400;
$fw-semibold: 500;
$fw-bold: 700;

/* Font size */
$fs-1: 34px;
$fs-2: 30px;
$fs-3: 26px;
$fs-4: 22px;
$fs-5: 18px;
$fs-6: 14px;
$fs-7: 12px;

//screen
$main-width: 100%;
$large-screen-inner-width: 80%;

//header
$header-main-height: 50px;